h2{
    text-align: center;
    padding: 64px;
}
table, td, tr{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    width: 250px;
    height: 80px;
    margin: auto; 
}
h4{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}
